In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import os

In [2]:
plt.rc('figure', figsize=(12, 8))

## Read global data

In [7]:
occ = pd.read_table("/home/josejm/transportes/ITS_Primero/N. Aquatic Park_downstream_PM_5.25/occ/global_occ.txt", header=None)
occ.columns=['date', 'L1_flow', 'L1_occ', 'L2_flow', 'L2_occ','L3_flow', 'L3_occ','L4_flow', 'L4_occ', 'L5_flow', 'L5_occ', 'flow', 'occ', 'lanes', 'observed']
occ.date = pd.to_datetime(occ.date)

In [8]:
occ.head()

,date,L1_flow,L1_occ,L2_flow,L2_occ,L3_flow,L3_occ,L4_flow,L4_occ,L5_flow,L5_occ,flow,occ,lanes,observed
0,2006-10-22 00:00:00,17.0,2.1,23.0,2.7,24.0,3.3,22.0,3.1,17.0,2.6,103.0,2.8,5,100.0
1,2006-10-22 00:05:00,12.0,1.5,22.0,2.7,25.0,3.3,25.0,3.3,23.0,3.2,107.0,2.8,5,100.0
2,2006-10-22 00:10:00,12.0,1.5,25.0,3.3,25.0,3.3,23.0,3.0,17.0,2.7,102.0,2.8,5,100.0
3,2006-10-22 00:15:00,15.0,1.9,22.0,2.7,25.0,3.3,25.0,3.8,25.0,3.8,112.0,3.1,5,100.0
4,2006-10-22 00:20:00,14.0,1.7,23.0,2.9,21.0,2.8,25.0,4.1,21.0,3.3,104.0,3.0,5,100.0

In [11]:
# Watch a directory contents
import os
os.listdir('December')

['pems.dot.ca.gov50.txt',
 'pems.dot.ca.gov53.txt',
 'pems.dot.ca.gov52.txt',
 'pems.dot.ca.gov51.txt',
 'pems.dot.ca.gov54.txt']

## Read December-January data

In [ ]:
for week_dec in os.listdir('December')
dec1 = pd.read_table("/home/josejm/transportes/ITS_Primero/N. Aquatic Park_downstream_PM_5.25/occ/global_occ.txt", header=None)

chrism =